{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}create product{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" name="title" id="title" required>
    <label for="description">Description</label>
    <input class="form-control" name="description" id="description" required>
    <label for="price">Price</label>
    <input class="form-control" name="price" id="price" required>
    <label for="date">Date</label>
    <input class="form-control" name="date" id="date" required>
    <label for="owner_email">Owner Email</label>
    <input class="form-control" name="owner_email" id="owner_email" required>

    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</form>
{% endblock %}